* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
}

:root {
  --white-color: #FFFFFF;
  --main-color: #0549EB;
  --secondary-color: #37DEF5;
  --grey-color: #CBD0DE;
  --dark-color: #292D32;
  --transation-in: 0.5s ease-in;
  --transation-out: 0.5s ease-in-out;
  --padding-top: 60px;
  --padding-bottom: 60px;
}

html{
  scroll-behavior: smooth;
}

::-webkit-scrollbar{

}

body {
  font-family: 'Amiri', serif;
  direction: rtl;
}

/* 
font-family: 'Roboto',
sans-serif;
 */

@font-face {
  font-family: faruiz;
  src: url(/myFont/Fairuz-Bold.otf);
}

/* Start Navbar */
.navbar-brand img {
  width: 119px;
  height: 40px;
}

.nav-link {
  font-size: 14px;
  font-weight: 400;
  position: relative;
  color: var(--dark-color);
  overflow: hidden;
}

.nav-link::before {
  content: "";
  width: 50%;
  height: 2px;
  position: absolute;
  left: -100%;
  bottom: 0px;
  background-color: var(--main-color);
  transform: translateX(-50%);
  transition: var(--transation-out);
}

.nav-link:hover::before,
.nav-link.active::before {
  left: 50% !important;
}

.nav-link.active,
.nav-link:hover {
  color: var(--main-color) !important;
}

.btn-fix {
  transition: var(--transation-in);
}

.gap-5 {
  gap: 5px !important;
}

.gap-10 {
  gap: 10px !important;
}

.gap-15 {
  gap: 15px !important;
}

.gap-20 {
  gap: 20px !important;
}

.gap-25 {
  gap: 25px !important;
}

.global span {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 400;
  margin-bottom: 0px;
}

@media(max-width:992px) {
  .navbar-nav {
    text-align: center;
  }

  .nav-link {
    width: fit-content;
    margin: 0 auto 5px;
  }

  .navbar button.btn-fix {
    display: block;
    margin: 0 auto 5px;
  }
}

.navbar button.btn-fix {
  width: 100px;
  background-color: #0d6efd !important;
}

.toggle {
  font-size: 27px;
  color: #1f1f1f82;
}

.navbar-toggler:focus {
  box-shadow: 0 0 3px 3px var(--main-color);
}
.navbar-toggler{
  padding: 8px 15px;
}

/* End Navbar */

/* Start Landing */
.landing {
  position: relative;
}

.overlay {
  position: absolute;
  bottom: 0;
  background-color: #cbd0de66;
  width: 100%;
  height: 7%;
  z-index: -1;
  box-shadow: 0 -20px 30px #cbd0de66;
  filter: blur(10px);
}

.row {
  min-height: calc(100vh - 66px);
}

.landing .image img {
  width: 100%;
  max-width: 100%;
}

.landing .text span {
  position: relative;
  font-size: 21px;
  font-weight: bold;
  margin-bottom: 30px;
  display: block;
  width: fit-content;
}

.landing .text span::before {
  content: "";
  position: absolute;
  width: 80%;
  height: 3px;
  background: var(--secondary-color);
  right: 0;
  bottom: -15px;
}

.landing .text h2 {
  font-size: 44px;
  color: var(--main-color);
}

.landing .text p {
  line-height: 2;
  color: var(--dark-color);
  font-size: 18px;
}

.btn-main {
  background-color: #0d6efd;
  color: var(--white-color);
  width: 100px;
  transition: var(--transation-in);
}

.btn-main:hover {
  background-color: #0b5ed7 !important;
  color: var(--white-color) !important;
}

.btn-second {
  color: #0d6efd;
  border: 1px solid #0d6efd;
  width: 100px;
  transition: var(--transation-in);
}

.btn-second:hover {
  background-color: var(--secondary-color) !important;
  color: var(--white-color) !important;
  border: 1px solid var(--secondary-color) !important;
}

@media(max-width:992px) {
  .landing .col-12:first-child {
    order: 2;
  }

  .landing .image img {
    width: 70%;
  }

  .landing .image {
    text-align: center;
  }

  .landing .row {
    margin-top: 30px;
  }
}

@media(min-width:768px) and (max-width:992px) {
  .landing .overlay {
    top: 66%;
  }
}

@media(min-width:0px) and (max-width:768px) {
  .landing .overlay {
    top: 42%;
  }

  .landing .text {
    text-align: center;
  }

  .landing .text span {
    margin: 15px auto 30px;
  }

  .landing .text span::before {
    left: -50%;
    transform: translateX(-12%);
  }

  .landing .text h2 {
    font-size: 30px;
  }
}

/* End Landing */

/* Start About */
.about {
  padding-top: var(--padding-top);
  padding-bottom: var(--padding-bottom);
}

.about .image img {
  width: 100%;
  max-width: 100%;
}

.main-tittle {
  font-size: 44px;
  position: relative;
  margin-bottom: 30px;
  width: fit-content;
  color: var(--dark-color);
}

.main-tittle::before {
  content: "";
  position: absolute;
  right: 0;
  bottom: -15px;
  background-color: var(--secondary-color);
  width: 75%;
  height: 3px;
}

.about .text h3 {
  font-size: 30px;
  color: var(--main-color);
  margin-bottom: 15px;
}

@media(max-width:992px) {
  .about .text h3 {
    text-align: center;
  }

  .about .text p {
    text-align: center;
  }
}

.about .text p {
  line-height: 2;
  font-size: 18px;
  color: var(--dark-color);
}

.about .box {
  flex-basis: 48%;
  background-color: var(--white-color);
  padding: 20px;
  box-shadow: 7px 8px 10px #37def552;
  margin-top: 30px;
  border: 1px solid rgba(0, 0, 0, 0.09);
  border-top-right-radius: 25px;
  border-bottom-left-radius: 25px;
  border-top-left-radius: 60px;
  border-bottom-right-radius: 60px;
}

.about .box img {
  width: 70px;
}

.about .box p {
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 15px;
  color: var(--dark-color);
}

@media(max-width:992px) {
  .about .box {
    flex-basis: 100%;
  }

  .about .image {
    margin-top: 40px;
  }
}


/* end About */